@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animate-delay: 0.1s;
  --calculatedTop: 0px;
  --calculatedLeft: 0px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 181, 181); 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(123, 123, 123); 
}


.underlineAnimatedLink:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
  height: 2px;
  background-color: #F7B1A2;
  transform-origin: bottom right;
}

.underlineAnimatedLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

#navigatablefeatured {
  scroll-behavior: smooth;
}

#navigatablefeatured::-webkit-scrollbar {
  display: none;
}

#navigatablefeatured1 {
  scroll-behavior: smooth;
}

#navigatablefeatured1::-webkit-scrollbar {
  display: none;
}

#banner {
  animation: getbigger 0.5s ease-in-out;
}

@keyframes getbigger {
  0%{
    transform: scale(0.1);
  },
  100%{
    transform: scale(1);
  }
}

#roundme {
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 2px 0 15px -4px rgba(0, 0, 0, 0.4), 2px 0 15px -4px rgba(0, 0, 0, 0.4);
}
 
#steps > div:nth-child(even) {
  margin-top: 80px;
}

@media screen and (max-width: 539px ) {
  #steps > div:nth-child(even) {
    margin-top: 80px;
  }
  #steps  >div:nth-child(odd) {
    margin-top: 80px;
  }
}

#steps > div {
  box-shadow: 2px 0 20px -4px rgba(0, 0, 0, 0.4);
}

@layer components {
  .form-input {
    @apply my-2 py-2 flex w-full mx-auto border-b border-zinc-400 focus:placeholder-third focus:border-third placeholder:text-sm outline-none focus:placeholder:-translate-y-10 ;
  }
  .form-label {
  @apply absolute hidden text-zinc-400 hover:cursor-text top-3 left-3 peer-focus:block peer-focus:text-third peer-focus:left-0 peer-focus:-top-4 peer-focus:peer-invalid:text-red-500  w-fit h-fit transition-all peer-placeholder-shown:block 
  }
}

#scrollableTestimonial {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.hoverablecontainer:first-child {
  background-image: url("https://res.cloudinary.com/dwvwjxizk/image/upload/v1646653946/pfe/1_ns4qha.png");
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: cover;
}

.hoverablecontainer:last-child {
  background-image: url("https://res.cloudinary.com/dwvwjxizk/image/upload/v1646653950/pfe/2_n7sczd.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#categoriesBoard {
  grid-template-rows: repeat(10, minmax(0, 1fr));
}

      
.reverse-spinner {
  position: absolute;
  height: 75px;
  width: 75px;
  top: 0px;
  left: 0px;
  right : 15px;
  bottom: 15px;
  margin : auto;
  border: 4px solid transparent;
  border-top-color: #0E5052;
  border-left-color: #0E5052;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.reverse-spinner::before {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  content: "";
  border: 4px solid transparent;
  border-top-color: #F9BF87;
  border-left-color: #F9BF87;
  border-radius: 50%;
  -webkit-animation: spinBack 1s linear infinite;
  animation: spinBack 1s linear infinite;
}

@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}


@-webkit-keyframes spinBack {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
  }
  to {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
  }
}

@keyframes spinBack {
  from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
  }
  to {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
  }
}

#categoriesContainer:hover  #categoriesBoard {
  visibility: visible;
}

#cart {
  top: var(--calculatedTop);
  left: var(--calculatedLeft);
}
          