@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animate-delay: 0.1s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 181, 181); 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(123, 123, 123); 
}

.loadingAnimation span {
  animation: dotit 1.2s ease-in-out infinite;
}

.loadingAnimation span:nth-child(2) {
  animation-delay: 0.4s;
}

.loadingAnimation span:nth-child(3) {
  animation-delay: 0.7s;
}

@keyframes dotit {
  50% {
    transform: scale(2);
  }
}

.underlineAnimatedLink:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
  height: 2px;
  background-color: #242526;
  transform-origin: bottom right;
}

.underlineAnimatedLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

#navigatablefeatured {
  scroll-behavior: smooth;
}

#navigatablefeatured::-webkit-scrollbar {
  display: none;
}

#navigatablefeatured1 {
  scroll-behavior: smooth;
}

#navigatablefeatured1::-webkit-scrollbar {
  display: none;
}

#cart {
  transition-property: all;
  transition-duration: 1s;
}

#banner {
  animation: getbigger 0.5s ease-in-out;
}

@keyframes getbigger {
  0%{
    transform: scale(0.1);
  },
  100%{
    transform: scale(1);
  }
}

#roundme {
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 2px 0 15px -4px rgba(0, 0, 0, 0.4), 2px 0 15px -4px rgba(0, 0, 0, 0.4);
}
 
#steps > div:nth-child(even) {
  margin-top: 80px;
}

@media screen and (max-width: 539px ) {
  #steps > div:nth-child(even) {
    margin-top: 80px;
  }
  #steps  >div:nth-child(odd) {
    margin-top: 80px;
  }
}

#steps > div {
  box-shadow: 2px 0 20px -4px rgba(0, 0, 0, 0.4);
}

.backgroundShiny {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1034)'%3e%3c/rect%3e%3cpath d='M1440 0L962.94 0L1440 266.58z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M962.94 0L1440 266.58L1440 409.46999999999997L596.9300000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M596.9300000000001 0L1440 409.46999999999997L1440 413.34L313.6500000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M313.6500000000001 0L1440 413.34L1440 458.21999999999997L170.3100000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L69.71 560L0 333.44z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 333.44L69.71 560L792.84 560L0 301.97z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 301.97L792.84 560L1038.8600000000001 560L0 146.66000000000003z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 146.66000000000003L1038.8600000000001 560L1307.65 560L0 115.86000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1034'%3e%3cstop stop-color='rgba(0%2c 88%2c 50%2c 1)' offset='0.73'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 88%2c 50%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.backgroundAnimated {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='600' preserveAspectRatio='none' viewBox='0 0 500 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1087%26quot%3b)' fill='none'%3e%3crect width='500' height='600' x='0' y='0' fill='rgba(5%2c 150%2c 105%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsPath1088' x='30' y='30' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='30' y='90' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='30' y='150' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='30' y='210' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='30' y='270' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='30' y='330' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='30' y='390' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='30' y='450' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1092' x='30' y='510' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='30' y='570' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='90' y='30' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='90' y='90' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='90' y='150' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='90' y='210' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='90' y='270' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='90' y='330' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='390' stroke='rgba(0%2c 88%2c 50%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='90' y='450' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='90' y='510' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1092' x='90' y='570' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='150' y='30' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='150' y='90' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1092' x='150' y='150' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='150' y='210' stroke='rgba(0%2c 88%2c 50%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='150' y='270' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='150' y='330' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='150' y='390' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='150' y='450' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='150' y='510' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='150' y='570' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='30' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='210' y='90' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='150' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='210' y='210' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='210' y='270' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='210' y='330' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='390' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='210' y='450' stroke='rgba(0%2c 88%2c 50%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='510' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='210' y='570' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='270' y='30' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='270' y='90' stroke='rgba(0%2c 88%2c 50%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='270' y='150' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='270' y='210' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='270' y='270' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='270' y='330' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='270' y='390' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='270' y='450' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1092' x='270' y='510' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='270' y='570' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='330' y='30' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='330' y='90' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='330' y='150' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='330' y='210' stroke='rgba(0%2c 88%2c 50%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='330' y='270' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='330' y='330' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='330' y='390' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='330' y='450' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='330' y='510' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='330' y='570' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1090' x='390' y='30' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='390' y='90' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='390' y='150' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='390' y='210' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='390' y='270' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='390' y='330' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='390' y='390' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='390' y='450' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='390' y='510' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='390' y='570' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1092' x='450' y='30' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='450' y='90' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='450' y='150' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='450' y='210' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1092' x='450' y='270' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='450' y='330' stroke='rgba(0%2c 88%2c 50%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='450' y='390' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='450' y='450' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='450' y='510' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1092' x='450' y='570' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='510' y='30' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='510' y='90' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='510' y='150' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='510' y='210' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='510' y='270' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='510' y='330' stroke='rgba(0%2c 88%2c 50%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='510' y='390' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1089' x='510' y='450' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1091' x='510' y='510' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1088' x='510' y='570' stroke='rgba(0%2c 88%2c 50%2c 1)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1087'%3e%3crect width='500' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1090'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1092'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1089'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1091'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1088'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1093'%3e%3c/path%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@layer components {
  .form-input {
    @apply my-2 py-2 flex w-full mx-auto border-b border-zinc-400 focus:placeholder-third focus:border-third placeholder:text-sm outline-none focus:placeholder:-translate-y-10 ;
  }
  .form-label {
  @apply absolute hidden text-zinc-400 hover:cursor-text top-3 left-2 peer-focus:block peer-focus:text-third peer-focus:left-0 peer-focus:-top-4 peer-focus:peer-invalid:text-red-500  w-fit h-fit transition-all peer-placeholder-shown:block
  }
}

#scrollableTestimonial {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.hoverablecontainer:first-child {
  background-image: url("https://res.cloudinary.com/dwvwjxizk/image/upload/v1646653946/pfe/1_ns4qha.png");
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: cover;
}

.hoverablecontainer:last-child {
  background-image: url("https://res.cloudinary.com/dwvwjxizk/image/upload/v1646653950/pfe/2_qtzcsm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}